/**
 * @file
 * Subtheme specific CSS.
 */

 ol.breadcrumb{
     margin-top: 10px;
 }
 nav#block-banlist-theme-account-menu,
 section.region-secondary-menu{
     width: 100% !important;
 }
 div[block="block-banlist-theme-account-menu"]{
    display: inline !important;
 }
 nav#navbar-top{
     font-size: 0.8rem;
     padding-top: 0px;
     padding-bottom: 0px;
     margin-right: 0px;
 }
 nav#navbar-top a{
    color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
 }
 a.navbar-brand{
     color: white !important;
     text-transform: uppercase;
     margin-left: 15px;
     font-weight: 600;
 }
 .navbar-expand-lg .navbar-nav .nav-link{
     padding-left: 1rem;
     padding-right: 1rem;;
 }
 ul[block="block-banlist-theme-main-menu"] a{
    color: white !important;
    text-transform: uppercase;
    font-size: 0.9rem;
 }
 #CollapsingNavbar{
     justify-content: end !important;
 }
 summary:focus{
     outline: none;
 }
 ul.pagination .page-item.active .page-link{
    background-color: #a20303 !important;
 }
 .content{
     margin-bottom: 15px;
 }

 /*----- add list -----*/
 form.node-back-list-form {
    width: 60%;
    padding: 20px;
    border: 1px solid #cccccc;
    margin-left: auto;
    margin-right: auto;
 }
 form.node-back-list-form label{
    font-size: 0.9rem;
}
table#field-merchant-bank-account-values h4{
    font-size: 0.9rem;
}

 /*----- login form -----*/
 form.user-login-form,
 form.user-register-form{
    border: 1px solid #cccccc;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
 }
 button#edit-submit{
     display: inline;
     width: 100%;
     margin-bottom: 10px;
 }
 a#edit-forgot-password{
     font-size: 0.8rem;
 }
 a#edit-register{
    font-size: 0.8rem;
    margin-left: 15px;
    margin-right: 15px;
}
a#edit-login-with-facebook{
    font-size: 0.8rem;
}
h1.title{
    text-align: center;
}

/* banlist-table */
table thead tr th{
    background-color: #a20303 !important;
    font-size: 0.8rem !important;
    vertical-align: top !important;
    text-transform: uppercase;
    font-weight: 500;
}
table tbody tr td{
    background-color: white !important;
    border-bottom: 1px solid #cccccc;
    font-size: 0.8rem !important;
}

/* search_form */
form.search-form{
    margin-top: 30px;
    margin-bottom: 15px;
}
form.search-form label{
    font-size: 0.8rem;
}
form.search-form #edit-submit{
    position: absolute;
    right: 0px;
    bottom: 8px;
}
details#edit-filters{
    margin-top: 20px;
}
span.add-list-button{
    background-color: #7d0202;
    width: auto;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
span.add-list-button a{
    color: white !important;
}

#fieldset-bank-account{
    background-color: aliceblue;
}

.filter-by-person-sammary{
    text-align: right;
}

.field__label{
    font-weight: bold;
}

/* desktop */
@media (min-width: 769px){
    form.user-login-form,
    form.user-register-form{
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;;
    }  
}

/* mobile */
@media (max-width: 768px){

}

.col-sm-3{
    display: inline
}
 