version: "3.3"
services:
  # frontend:
  #   container_name: cfy_frontend
  #   build:
  #     context: ./webs
  #     dockerfile: Dockerfile
  #   image: aneeshmelkot/cfy_frontend
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true
  #   ports:
  #     - "8099:3000"
  #   tty: true
  #   volumes:
  #     - ./webs:/usr/src/app
  #     - /usr/src/app/node_modules # เพิ่มความเร็วในการ load page /usr/src/app < จากด้านบน แล้วตามด้วย node_modules 
  #   restart: always
  banlist:
    build: '.'
    # env_file:
    #   - .env
    container_name: ${PROJECT_NAME}
    ports:
      - 80:80
      - 443:443
    environment:
      - DB_HOST=139.59.116.246
      - DB_NAME=banlist
      - DB_USER_NAME=postgres
      - DB_PASSWORD=U29ta2lkMDU4ODQ4Mzkx
    volumes:
      - ./modules:/opt/drupal/web/sites/default/modules
      - ./libraries:/opt/drupal/web/sites/default/libraries
      - ./themes:/opt/drupal/web/themes
      - ./settings.php:/opt/drupal/web/sites/default/settings.php
      - ./services.yml:/opt/drupal/web/sites/default/services.yml
      - ./settings.local.php:/opt/drupal/web/sites/settings.local.php
      - ./php.ini:/usr/local/etc/php/php.ini
      - ./info.php:/opt/drupal/web/info.php
      - ./vendor:/opt/drupal/vendor
      - ./composer.json:/opt/drupal/composer.json
      - ./composer.lock:/opt/drupal/composer.lock

      # Local
      - ./files:/opt/drupal/web/sites/default/files

      # Cloud
      # - /mnt/volume_sgp1_09/banlist.info/files:/opt/drupal/web/sites/default/files

      # SSL
      # - ./000-default.conf:/etc/apache2/sites-available/000-default.conf
      # - ./.well-known/acme-challenge:/opt/drupal/.well-known/acme-challenge
      # - ./etc/letsencrypt/live/banlist.info:/etc/letsencrypt/live/banlist.info
      # - ./letsencrypt.conf:/etc/apache2/conf-available/letsencrypt.conf
      # - ./ssl-params.conf:/etc/apache2/conf-available/ssl-params.conf
      # google
      - ./google4a78161938c3c95a.html:/opt/drupal/web/google4a78161938c3c95a.html
    restart: always

#   postgres:
#     image: postgres:11
#     container_name: postgres_bg
#     environment:
#       POSTGRES_DB: banlist
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#     # volumes:
#     #  - ./private/var/lib/postgresql:/var/lib/postgresql
#     restart: always
#   pgadmin:
#     image: dpage/pgadmin4:4.18
#     container_name: bigcard_pgadmin4
# #     container_name: pgadmin4_bg
#     ports:
#       - 7778:80
#     # volumes:
#     #   - ./pgadmin:/var/lib/pgadmin/storage
#     environment:
#       PGADMIN_DEFAULT_EMAIL: postgres
#       PGADMIN_DEFAULT_PASSWORD: postgres
#     hostname: pgadmin4
#     restart: always

  reactjs:
    container_name: reactjs
    build:
      context: ./reactjs
      dockerfile: Dockerfile
    ports:
      - 8011:6000
      # - 80:80
    tty: true
    stdin_open: true
    volumes:
      - ./reactjs/src:/app/src
      # - /app/node_modules # increment performance load page /usr/src/app < จากด้านบน แล้วตามด้วย node_modules 
    # environment:
    #   NODE_ENV: production


