<div>
    <div>
        <a href='/node/149'>เงื่อนไขการใช้บริการ</a>
    </div>
    <div>
        <a href='/node/150'>เกี่ยวกับเรา</a>
    </div>
     <div>
        <a href='/node/151'>สำหรับนักพัฒนา</a>
    </div>
</div>